{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% load django_bootstrap5 %}
{% block content %}
<div class="row d-flex justify-content-center">
    <div class="col-4 mt-4 card">
        <h3 style="font-family: Georgia, serif; font-size: 40px;" class="text-center my-5">Login Page</h3>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        <div class="text-center mt-4 mb-4">
            <p>Not a member? <a class="text-primary" href="{% url 'register' %}"><b>Register</b></a></p>
        </div>
    </div>
</div>
{% endblock %}



{% block title %} Innovation Fitness | Home {% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Fitness Tests</h2>
    <div class="row justify-content-center">
        {% for key, value in test_urls.items %}
        <div class="col-md-4 mb-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ key }}</h5>
                    <a href="{% url value %}" class="btn btn-primary mt-2">Take Test</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}