<footer class="bg-dark text-light py-4 mt-5">
    <div class="container-fluid">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-md-4 ">
                <h2>Innovation Fitness</h2>
                <p>At Innovation Fitness, we are dedicated to helping you achieve your fitness goals through innovative
                    and personalized solutions. Join us on the journey to a healthier, stronger you.</p>
            </div>
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}" class="text-light">Home</a></li>
                    <li><a href="#" class="text-light">About</a></li>
                    <li><a href="#" class="text-light">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li>Email: info@innovationfitness.com</li>
                    <li>Phone: 254748792401</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>&copy; {% now "Y" %} Innovation Fitness. All rights reserved.</p>
        </div>
    </div>
</footer>