{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block content %}
{% load django_bootstrap5 %}
<div class="row">
  <div class="col-4"></div>
  <div class="col-4 mt-4 card">
    <h3 style="font-family: Georgia, serif; font-size: 40px;" class="text-center my-5">Signup Page</h3>
    <form action="" method="post" novalidate>
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-primary btn-block mt-4">Signup</button>
    </form>
    <div class="text-center mt-4 mb-4">
      <p>Already registered? <a class="text-primary" href="{% url 'login' %}"><b>Login</b></a></p>
    </div>
  </div>
  <div class="col-4"></div>
</div>
{% endblock content %}